<article data-role="page" id="start">
  <header data-role="header" data-position="fixed">
    {% include 'includes/panellink.twig' %}
    <h1>title</h1>
  </header>
  <section data-role="content">
    Status
  </section>
  <footer data-role="footer" data-position="fixed">
    <h1>footer</h1>
  </footer>

  {% include 'includes/panel.twig' %}
</article>
